.list {float: left; margin-right: 30px;}
.list > li {padding: 5px 0; cursor: pointer;}
.list > .active {color: #06c;}
.cat-view {overflow: hidden;}
.cat-view > img {max-width: 400px; max-height: 280px;}
.cat-clicks {margin-left: 30px;}

.btn-admin {margin-left: 30px;}
.form {position: absolute; display: none; transform: translate(50%, -50px);}
.form label {display: inline-block; width: 5em; margin-right: 5px; text-align: right;}
.btn-group {padding-left: calc(5em + 5px);}
